modules = ["web", "nodejs-20"]
run = "pnpm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pnpm run dev"]

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true
