---
const { slug } = Astro.params;
import Card from "../components/Card.astro";

const pages = [
  {
    slug: undefined,
    title: "Astro Store",
    filter: "",
  },
  {
    slug: "movie",
    title: "Astro products",
    filter: {
      category: "movie",
    },
  },
  {
    slug: "serie",
    title: "Astro products1",
    filter: {
      category: "series",
    },
  },
  {
    slug: "culture",
    title: "Astro products1",
    filter: {
      category: "culture",
    },
  },
  {
    slug: "other",
    title: "Astro products1",
    filter: {
      category: "other",
    },
  },
  {
    slug: "special",
    title: "Astro products1",
    filter: {
      special: true,
    },
  },
];
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/");
const { title } = page;
import { groupBy } from "lodash-es";
import Layout from "../layouts/Layout.astro";
import { createDirectus } from "@directus/sdk";
import { rest, readItems } from "@directus/sdk/rest";
import { staticToken } from "@directus/sdk/auth";
import Slider from "../components/Slider.astro";
const directus = createDirectus(import.meta.env.DIRECTUS_URL)
  .with(rest())
  .with(staticToken(import.meta.env.DIRECTUS_TOKEN));
let article_data;
let article;
let keyz;
let grouped;
article_data = await directus.request(
  readItems("mediathek", {
    fields: ["*", "listepisodes.*,specials.*"],
    filter: page.filter,
    sort: ["-date_created"],
  })
);
if (page.slug == "special") {
  grouped = groupBy(article_data, (item) => item.specials.Name);
  keyz = Object.keys(grouped);
} else {
  grouped = groupBy(article_data, (item) => item.country);
  keyz = Object.keys(grouped);
}
article = article_data;
---

<Layout title={title}>
  Latest
  <swiper-container loop="false" init="false">
    {
      article.map((image, i) => (
        <swiper-slide>
          <Card carddata={image} />
        </swiper-slide>
      ))
    }
  </swiper-container>
  {
    keyz.map((item) => (
      <>
        <span>{item}</span>
        <swiper-container loop="false" init="false">
          {grouped[item].map((image, i) => (
            <swiper-slide>
              <Card carddata={image} />
            </swiper-slide>
          ))}
        </swiper-container>
      </>
    ))
  }
</Layout>

<script>
  import { register } from "swiper/element/bundle";
  register();
  const params = {
    loop: true,
    breakpoints: {
      0: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      490: {
        slidesPerView: 2,
        spaceBetween: 0,
      },
      960: {
        slidesPerView: 3,
        spaceBetween: 0,
      },
      1280: {
        slidesPerView: 4,
        spaceBetween: 0,
      },
      1900: {
        slidesPerView: 5,
        spaceBetween: 0,
      },
      2300: {
        slidesPerView: 4,
        spaceBetween: 0,
      },
    },
  };
  const swiperEl = document.querySelectorAll("swiper-container");
  for (let i = 0; i < swiperEl.length; i++) {
    Object.assign(swiperEl[i], params);
    swiperEl[i].initialize();
  }
</script>
