---
const { id } = Astro.params;
import Layout from "../../layouts/Layout.astro";
import { createDirectus } from "@directus/sdk";
import { rest, readItems } from "@directus/sdk/rest";
import { staticToken } from "@directus/sdk/auth";
let article_data;
let article;
const directus = createDirectus(import.meta.env.DIRECTUS_URL)
  .with(rest())
  .with(staticToken(import.meta.env.DIRECTUS_TOKEN));
article_data = await directus.request(
  readItems("mediathek", {
    fields: ["*", "listepisodes.*"],
    filter: {
      id: id,
    },
  })
);
let imgurl;
article = article_data[0];
if (article.poster) {
  imgurl = "https://img.mediathek.community/t/p/original" + article.poster;
} else {
  imgurl = "https://img2.mediathek.community/assets/" + article.coverimage;
}
---

<Layout title="title">
  <h1>{id}</h1>
  <img
    class="rounded-lg max-h-fit mx-auto relative"
    src={imgurl}
    alt="description"
    transition:name="hero"
  />
  {JSON.stringify(article)}
</Layout>
